<!-- Header  -->
<header id="header" role="banner">
    <section id="nav" class="fadeAnimation" >
        <nav class="fadeAnimation wrapper" scroll="" role="navigation">
            <ul role="menubar">
                <li class="current" role="menuitem"><a href="/">Home</a></li>
                <li class="current" role="menuitem"><a href="http://www.garethferguson.co.uk">Portfolio</a></li>
            </ul>
        </nav>
    </section>

    <div class="header__inner wrapper">
        <header>
            <img src="/circle.png" width="87" height="96" alt="Gareth Ferguson face">
            <h2>Blog</h2>
            <p>by Gareth Ferguson</p>
        </header>
    </div>
</header>